body {
    background-color: rgb(142, 191, 255);
}

p {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

a {
    text-decoration: none;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

label {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 6px;
}

.row {
    display: flex;
    gap: 90px;
}

.col {
  display: flex;
  flex-direction: column; 
  margin-bottom: 30px;   
}

.cta {
    background-color: rgb(223, 78, 78);
    color: white;
    opacity: 0.75;
    margin-bottom: 50px;
}

button:hover {
    opacity: 0.85
}

button:active {
    opacity: 1;
}

.title {

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(5, 8, 112)
}

.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 500px));
    grid-template-rows: repeat(2, minmax(250px, 350px));
    margin-top: 50px;
    gap: clamp(15px, 5vw, 100px);
    justify-content: center;
    justify-items: center;
    width: 100vw;
}

.card {
    background-color: rgb(174, 218, 107);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.addbook {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.displaybook {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.system-log {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: auto;
    align-items: flex-start;
}

button {
    border-radius: 10px;
    background-color: rgb(142, 191, 255);
    padding: 5px;
    width: 200px;
    height: 60px;
    font-size: 23px;
    font-weight: bold;
    border: 2px solid rgb(5, 8, 112);
    color: rgb(5, 8, 112);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    opacity: 0.75;
}

.icon {
    height: 25px;
    width: 25px;
}

.descript {
    width: 200px;
    line-height: 2;
    overflow: auto;
    white-space: pre-line;
}

.book-card {

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(233, 255, 135);

}

.newBtn {
    width: 120px;
    height: 30px;
    font-size: 16px;
    background-color: aqua;
}
